.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid #444;
    background-color: white;

}

body {



}

html {
    background-image: url(https://newevolutiondesigns.com/images/freebies/retro-wallpaper-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

h1 {
  text-align: center;
  font-family: 'Inconsolata' ;
  font-size: 1.75em;
  font-weight: bolder;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
  background-color: grey;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-bottom: 10px;
}

nav li {
  margin-right: 25px;
  display: inline;

}

nav li a {

  color: #444;
  text-decoration: none;
}

nav li a:hover {
  -webkit-text-stroke: .75px black;
}

.errors {
  color: red;
}


form {
  /*border: 1px solid black;*/
  border-radius: 5px;
  padding: 10px;
  margin: auto 20%;
  background-color: grey;
}

input {
  width: 87%;
  padding: 3px;
  margin: 5px 10px;
  font-weight: lighter;
  font-family: 'Inconsolata' ;
}

#submit {
  color: white;
  background-color: #333;
  border: none;
  margin-left: 80px;
  width: 50%;
  font-family: 'Inconsolata' ;
}

#submit:hover {
  color: white;
  background-color: #555;
  border: none;
}
