.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

}

#slack {
    margin-top: 50px;
    height: auto;
    width: auto;
    max-width: 700px;
    max-height: 700px;
     -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#slack:hover {

   -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}

html {
  background-image: url(../images/background.jpg);
  background-repeat: repeat-y;
  background-size: 100%;

}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  /*font-family: 'Inconsolata' ;*/
  font-size: 100px;
  font-weight: bolder;
}

h1:hover {
  -webkit-text-stroke: .1px yellow;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
  background-color: black;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #FFFFF0;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-bottom: 10px;
}

nav li {
  margin-right: 25px;
  display: inline;

}

nav li a {

  color: #FFFFF0;
  font-family: 'Coming Soon', cursive;
  text-decoration: none;
}

nav li a:hover {
  color: lightgrey;
}

.errors {
  color: red;
}


form {
  /*border: 1px solid black;*/
  border-radius: 5px;
  padding: 10px;
  margin: auto 20%;
  background-color: orange;
  color: white;
}

input {
  width: 87%;
  padding: 3px;
  margin: 5px 10px;
  font-weight: lighter;
  font-family: 'Inconsolata' ;
}

#submit:hover {
  background: rgba(0,0,0,0);
  color: white;
  box-shadow: inset 0 0 0 3px #3a7999;
}


#submit {
  color: white;
  background-color: #555;
  border: none;
}

form#vote {
  background: none;
  margin: 0;
  padding: 0;
  float: left;
}

button#up_vote {
  background: none;
  border: none;
}



/*View All Questions*/
.new_container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.5);

}
#all_questions {

  font-size: 2.5em;
}

.all_ul {
  list-style-type: none;
}

#all_a {
  text-decoration: none;
  font-size: 1.4em;
  color: #282828;
}

#all_a:hover {
  text-decoration: none;
  font-size: 1.4em;
  color: grey;
}

#linebreak {
  border-bottom: 1px dotted grey;
}

.author {
  margin-left: 70%;
}

h3 {
  text-align: center;
}

#delete_form {

  width: 50%;
  height: 40px;
  opacity: 0.7;



}

input[type="submit"] {
  width: 87%;
  padding: 3px;
  margin: 5px 10px;
  font-weight: lighter;
  font-family: 'Inconsolata' ;
  border: none;
  background-color: white;
  margin-left: 20px;
  margin-top: 10px;
  opacity: .8;
}

input[type="submit"]:hover {
  width: 87%;
  padding: 3px;
  margin: 5px 10px;
  font-weight: lighter;
  font-family: 'Inconsolata' ;
  border: none;
  background-color:white ;
  margin-left: 20px;
  margin-top: 10px;
  opacity: 1.0;
}

#edit_question {
  text-decoration: none;
  padding: 5px;
  font-size: 1.5em;
  font-family: 'Inconsolata' ;
  color: darkgrey;
  border: 5px solid orange;

}

#edit_question:hover {

  text-decoration: none;
  padding: 5px;
  font-size: 1.5em;
  font-family: 'Inconsolata' ;
  color: black;
  border: 5px solid orange;
  background-color: white;
  opacity: .7;

}




















