<div class = "container">
<h1>Login</h1>

<% if @error %>
<div class = "errors"><%= @error %></div>
<% end %>
<form action="/sessions" method="post">
  <br>
    <input type="text" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
   <input id = "submit" type="submit" value="login">
</form>
</div>
