<div class="container">
  <h1>Sign Up</h1>
  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>
  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" value="<%= @user.email %>">
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>

