<% if current_user %>
    <form id="vote" action="/vote" method="POST">
      <input type="hidden" name="type" value="Answer">
      <input type="hidden" name="id" value="<%= @a.id %>">
      <button id="up_vote" type="submit" value="VOTE!"><i class="fa fa-chevron-up"></i></button>
    </form>
  <% end %>
