<h1>Login</h1>
<form action="/sessions" method="post">
  Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
   <input type="submit" value="login">
</form>
